# Generate using: bun|npx nuxt-og-image generate-secret
NUXT_OG_IMAGE_SECRET=<secret>

# Nuxt Studio GitHub Provider OAuth
# Create new OAuth Apps: https://github.com/settings/developers
NUXT_STUDIO_AUTH_GITHUB_CLIENT_ID=<Client ID>
NUXT_STUDIO_AUTH_GITHUB_CLIENT_SECRET=<Client secret>
